<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css" />
    <style>
      label {
        display: inline-block;
        width: 80px;
      }
    </style>
  </head>
  <body>
      <h1>Order Delivery Details</h1>
      <tr>
        <td><label>Name:</label></td>
        <td>
          <input placeholder="placeholder" id="cname" name="cname" value="" />
        </td>
        <td></td>
      </tr>
      <br />
      <tr>
        <td><label>Address:</label></td>
        <td>
          <input
            placeholder="placeholder"
            id="address"
            name="address"
            value=""
          />
        </td>
        <td></td>
      </tr>
      <br />
      <tr>
        <td><label>Phone:</label></td>
        <td>
          <input placeholder="placeholder" id="phone" name="phone" value="" />
        </td>
        <td></td>
      </tr>
      <br />
      <tr>
        <td><label>Rush:</label></td>
        <td>
          <input type="checkbox" id="rush1" name="rush" value="true" /><input
            type="hidden"
            name="_rush"
            value="on"
          />
        </td>
        <td></td>
      </tr>
      <br />
      <tr>
        <td><label for="comments">Comments:</label></td>
        <td>
          <textarea id="comments" name="comments"></textarea>
        </td>
        <td></td>
      </tr>
      <br />
      <button type="button" href="/pizza/orders/confirm">Cancel Order</button>
      <button type="submit">Place Order</button>
    </form>
  </body>
</html>
